html,body {
	padding: 0;
	margin: 0;
	height: 100%;
}
.container {
	width: 75%;
	max-width: 1000px;
	min-width: 500px;

	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 900px) {
  .container {
	  width: 85% !important;
  }
}

@media screen and (max-width: 750px) {
  .container {
	  width: 95% !important;
  }
}

.header {
	margin-bottom: 20px;
}
.main {
	min-height: 58%;
}
.footer, .header {
	padding-top: 20px;
}

.footer {
	text-align: center;
}

.muted {
	color: #777;
}

/* === NAVBAR === */
/* http://www.w3schools.com/css/css_navbar.asp */

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #111;
}

.navbar .right {
	float: right !important;
}

.navbar .active {
    background-color: #B00707;
}

/* Style pour le formulaire de login */
.loginForm table, .loginForm button {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.loginForm div {
	text-align: center;
}

.loginForm input {
	width: 100%;
}

.loginForm table {
	border-spacing: 5px;
    border-collapse: separate;
}

/* Style utilisé pour le formulaire d'ajout/modification dans la DB */
#addToDB, div.error, div.success {
	margin: 0 auto 0 230px;
	min-width: 400px;
	width: 65%;
	border: 3px solid #4d4d4d;
	border-radius: 5px;
	padding: 15px 25px 15px 25px;
}
@media (max-width: 1000px) {
	#addToDB, div.error, div.success {
		margin: 0 auto;
	}
}
#addToDB h3 {
	text-align: center;
	font-size: 23px;
	margin-top: 10px;
	margin-left: -30px;
}
#addToDB .element {
	display: block;
	margin-bottom: 10px;
}
/*#addToDB label {
	width: 120px;
	float: left;
	margin-top: 8px;
	height: 25px;
	line-height: 1;
}
#addToDB input:not([type=submit]) {
	min-width: 150px;
	width: 50%;
	padding: 5px 3px;
	margin-left: 30px;
	height: 15px;
}
#addToDB textarea {
	min-width: 150px;
	width: 50%;
	padding: 5px 4px;
	margin-left: 30px;
}*/
#addToDB .required {
	color: red;
	font-weight: bold;
	font-size: 1.2em;
	position: absolute;
	transform: translateX(5px);
}
#addToDB h4 {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 1.2em;
}
#addToDB h4 > .required, #addToDB p > .required {
	position: relative;
	transform: none;
}
#addToDB h4 > a {
	font-weight: normal;
	font-size: .8em;
	margin-left: 10px;
}
#addToDB p {
	margin-left: 50px;
	margin-top: 40px;
	color: red;
}
#addToDB .genres, #addToDB .langues, #addToDB .sagas, #addToDB .societes, #addToDB .formats, #addToDB .personnes {
	margin: 3px 2px;
}
/*#addToDB select {
	width: 20%;
	padding: 3px;
	margin-left: 50px;
	margin-bottom: 5px;
	display: block;
}*/
#addToDB .block {
	display: block;
}
#addToDB .prix {
	min-width: 70px !important;
}
#addToDB .formats,#addToDB .personnes  {
	display: inline;
	max-width: 50%;
}
#addToDB .block > .prix {
	min-width: 30px;
	width: 30px;
	padding: 3px;
}
#addToDB .block > .role {
	min-width: 150px;
	width: 150px;
	padding: 3px;
}
/*#addToDB .addItem {
	margin-left: 50px;
	font-size: .75em;
}*/
/*#addToDB input[type=submit] {
	margin-left: 80%;
	width: 100px;
	height: 35px;
}*/
input.error,textarea.error {
	border: 1px solid #ff9999;
}
input.error:focus,textarea.error:focus {
	border-color: red;
	outline: 0;
}
div.error {
	margin-bottom: 10px;
	border: 2px solid red;
	color: darkred;
	line-height: 1.5;
	background-color: rgba(255, 51, 0, .3);

}
div.success {
	margin-bottom: 10px;
	border: 2px solid green;
	color: darkgreen;
	line-height: 1.5;
	background-color: rgba(15, 186, 0, .3);
}
#FullScreenForm {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(200,200,200,.5);
}
#FullScreenForm div {
	position: relative;
	width: 300px;
	height: 200px;
	top: 40%;
	margin: auto;
	border:3px solid #666666;
	border-radius: 5px;
	background-color: #cccccc;
}
#FullScreenForm h4 {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 30px;
}
#FullScreenForm label {
	margin-left: 20px;
	width: auto;
	margin-right: 20px;
}
#FullScreenForm input[type=submit], #FullScreenForm button {
	display: inline-block;
	width: 30%;
	margin: 5px;
	height: 30px;
	margin-top: 45px;
}

/*----------------------------------------------*/
.welcome-message {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
